section.card-section-page {
    display: flex;
    justify-content: space-around;
    background-color: #2f2f2f;
    width: 100;
    height: 50vh;
}
div.card-body {
    display: inline-block;
    background-color: darkgray;
    text-decoration: underline;
    max-width: 25%;
    height: 50vh;
    // height: auto;
}



div.card-body2 {

    background-color: darkgray;
    width: 25%;
    height: 50vh;
    // height: auto;
    
}
div.card-body button{
    margin-left: 25%;
    width: 50%;
    height: 5vh;
    color: white;
    background-color: #2f2f2f;

}

div.card-body3 {
    display: inline-block;
    background-color: darkgray;
    width: 25%;
    height: 50vh;
    // height: auto;
    
}