div.potluck-card {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  margin: 2rem;
  padding: 3rem;
  text-align: left;
  width: 40rem;

  h3 {
    font-size: 2.4rem;
  }
}