$max-width-desktop: 1000px;

div.text-showcase {
  background-color: white;
  
  div.text-showcase-content {
    margin: auto;
    max-width: $max-width-desktop; 
    padding: 6rem;

    h3, p {
      margin: 1.4rem;
    }
    h3 {
      font-size: 2.8rem;
    }
  }
}