$max-width-desktop: 1000px;

section.login-page {
  background-image: url("../../../assets/img-bg-login-400kb.jpg");
  background-size: cover;

  div.login-page-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 80vh;
    max-width: $max-width-desktop;
    padding: 2rem;
  }
}
