$max-width-desktop: 1000px;

$color-background: #2f2f2f;
$color-title: #eee;
$color-link: #eee;
$color-link-active: coral;

$color-link-hover-fg: $color-background;
$color-link-hover-bg: $color-link;

header.header-navbar {
  background-color: $color-background;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: sticky;
  top: 0;

  div.header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width-desktop;

    h2,
    a {
      border-radius: 7px;
      color: $color-link;
      padding: 1rem;
      text-decoration: none;
      transition: 200ms;

      &:hover {
        background-color: $color-link-hover-bg;
        color: $color-link-hover-fg;
      }
    }
    div.header-left {
      a {
        padding: 0;
      }
      h2 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
      }
    }
    nav.header-right {
      a {
        font-size: 1.8rem;
        margin-left: 1rem;

        &.active-navlink {
          color: $color-link-active;
        }
      }
    }
  }
}
