$max-width-desktop: 1000px;

$color-background: #2f2f2f;
$color-title: #eee;
$color-link: #eee;
$color-link-active: coral;

$color-link-hover-fg: $color-background;
$color-link-hover-bg: $color-link;

header.header-navbar {
  background-color: $color-background;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 2rem 0;
  position: sticky;
  top: 0;

  div.header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width-desktop;

    div.header-left {
      h2 {
        color: $color-title;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
      }
    }
    nav.header-right {
      a {
        border-radius: 7px;
        color: $color-link;
        font-size: 1.8rem;
        margin-left: 1rem;
        padding: 1rem;
        text-decoration: none;
        transition: 200ms;

        &.active-navlink {
          color: $color-link-active;
        }

        &:hover {
          background-color: $color-link-hover-bg;
          color: $color-link-hover-fg;
        }
      }
    }
  }
}
