// Import Open Sans (Google Fonts)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// General Styles
html {
  font-size: 62.5%;
}
body {
  box-shadow: border-box;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3.6rem;
}
p {
  font-size: 1.8rem;
}

// App Container Styles (Currently Placeholder)
div.App {
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
  h1 {
    color: #eee;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  p {
    color: #ccc;
  }
}